.last-input-consult {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

.last-input-consult~.error-message-signup {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.last-input-consult:invalid[focused="true"] {
    border: 1px solid red;
}

.last-input-consult:invalid[focused="true"]~.error-message-signup {
    display: block;
}