.testimonials-screen{
  background-color: var(--secondary-color-backoffice);
  overflow: hidden
}

.testimonials-backoffice-container {
  width: 90%;
  margin: auto;
}
.testimonials-back-title {
  padding: 5rem 0;
  color: white;
  text-align: center;
  font-size: 32px;
}
.testimonials__upper-bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


@media (max-width: 768px){
  .testimonials__upper-bar {
    justify-content: center;
  }
} 
