.container-login {
  box-sizing: border-box;
  margin: -8px;
  padding: 0;
  width: 100vw;
}
.mobile-top-login {
  width: 50vw;
  float: left;
  min-height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desktop-right-login {
  width: 50vw;
  float: right;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./imagenONG.jpeg");
  background-repeat: no-repeat;
  background-attachment: contain;
  background-size: cover;
}
.logo {
  height: 40px;
}
.container-figures {
  display: flex;
}
.triangle-logo {
  height: 0;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #ff0000;
}
.square-logo {
  width: 60px;
  height: 60px;
  background: #faff00;
}
.circle-logo {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #0038ff;
}
.name-logo {
  font-weight: bold;
  font-size: 1.9em;
  text-transform: uppercase;
}
.container-form {
  justify-content: center;
}
.form {
  margin-top: 1em;
}
.input-login {
  height: 40px;
  width: 80vw;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.button-login {
  height: 40px;
  width: 80vw;
  background-color: #ff0000;
  color: floralwhite;
  text-transform: capitalize;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.input-login:focus {
  outline: none;
  border: 2px solid #0085ff;
}
.error {
  color: #e92b2d;
  font-weight: 600;
  font-size: 1em;
}

.button-login:hover {
  cursor: pointer;
}
.success {
  text-align: center;
  font-size: 1em;
  padding-top: 20px;
  color: #02a802;
}
.register-link-container {
  display: inline-flex;
  justify-content: center;
}
.register-link {
  color: #ff0000;
  cursor: pointer;
}
@media (max-width: 768px) {
  .mobile-top-login {
    width: 100vw;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop-left-login {
    width: 100vw;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desktop-right-login {
    display: none;
  }
  .container-message-welcome-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-top-login {
    display: none;
  }
  .desktop-left-login {
    width: 50vw;
    min-height: 100vh;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
  }
  .input-login,
  .button-login {
    width: 30vw;
  }
  .container-message-welcome-desktop {
    height: 30vh;
    width: 50vw;
    position: absolute;
    top: 0px;
  }
  .message-welcome-desktop {
    text-align: left;
    position: relative;
    top: 20vh;
    left: 5em;
  }
  .message-start-session-desktop {
    font-size: 1.6em;
    text-align: left;
    position: relative;
    top: 20vh;
    left: 3em;
  }
}